@use "mixin";

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.filter-btn {
  padding: 0.8rem 2rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 999rem;
  @include mixin.text-preset-3;

  border: 0.1rem solid var(--neutral-200);
  color: var(--neutral-900);
  background-color: var(--neutral-0);
  box-shadow: 0rem 0.1rem 0.2rem rgba(184, 196, 215, 0.4);

  &:focus {
    @include mixin.focus-outline;
  }
  &:hover {
    opacity: 0.7;
  }
}
.selected-filter {
  background-color: var(--red-700);
  color: var(--neutral-0);
  box-shadow: none;
  border: 0.1rem solid var(--red-700);

  &:hover {
    background-color: var(--red-500);
    border-color: var(--red-500);
    opacity: 1;
  }
}
body.dark-theme {
  .filter-btn {
    background-color: var(--neutral-700);
    color: var(--neutral-0);
    border: 0.1rem solid var(--neutral-600);
    box-shadow: none;
    &:hover {
      background-color: var(--neutral-600);
    }
  }
  .selected-filter {
    color: var(--neutral-900);
    background-color: var(--red-400);
    box-shadow: none;
    border: 0.1rem solid var(--red-400);
    &:hover {
      background-color: var(--red-500);
      border-color: var(--red-500);
    }
  }
}
