.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: var(--neutral-900);

  &:hover {
    color: var(--red-400);
  }
}
body.dark-theme {
  .attribution a {
    color: var(--neutral-0);
    &:hover {
      color: var(--red-500);
    }
  }
}
