@use "mixin";

body.dark-theme {
  .header {
    border: none;
    box-shadow: none;
    background-color: var(--neutral-800);
  }
  .header__logo #text {
    fill: white;
  }
  .theme-switcher {
    background-color: var(--neutral-700);
    &:hover {
      background-color: var(--neutral-600);
    }
  }
}

.header {
  background-color: var(--neutral-0);
  border: 0.1rem solid var(--neutral-200);
  box-shadow: 0px 0.2rem 0.3rem hsl(213, 55%, 90%);

  border-radius: clamp(1rem, 0.046rem + 2.545vw, 2rem);
  display: flex;
  justify-content: space-between;
  padding-block: clamp(0.8rem, 0.418rem + 1.018vw, 1.2rem);
  padding-inline: clamp(1.2rem, 0.818rem + 1.018vw, 1.6rem);
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}

.theme-switcher {
  position: relative;
  border-radius: 1.2rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--neutral-100);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  &:hover {
    background-color: var(--neutral-300);
  }
  &:focus-within {
    @include mixin.focus-outline;
  }
}
