@mixin text-preset-1 {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}
@mixin text-preset-2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}
@mixin text-preset-3 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.03rem;
}
@mixin text-preset-4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.03rem;
}
@mixin text-preset-5 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}
@mixin text-preset-6 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}
@mixin focus-outline {
  outline: 0.2rem solid var(--red-400);
  outline-offset: 0.2rem;
}
